html
  head
    title= title
  body
    h1= message
    | Pour aller dans le menu des users : 
    a(href='http://localhost:3000/users') Users
    br
    | Pour aller dans le menu des movies et watchlists : 
    a(href='http://localhost:3000/movies') Movies

