html
  head
    title= title
  body
  h1= message
  p 
    h3 Pour ajouter un film dans la Base de données :
    form(action='/movies/insertMovie', method='POST', role='form')
      p 
        | Entrez le nom du film à ajouter :
        input(name='s', value='', type='text')  
        br
        | Entrez votre apikey (présent sur le site omdapi) : 
        input(name='apikey', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour ajouter un film dans une WatchList (Petit problème avec Malcom ('et' commercial) Malvin) :
    form(action='/movies/insertItem', method='POST', role='form')
      p 
        | Entrez le nom de la watchList :
        input(name='id_utilisateur', value='', type='text')  
        br
        | Entrez le nom du film à ajouter : 
        input(name='Title', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour Modifier le status d'un film dans une WatchList :
    form(action='/movies/updateStatus', method='POST', role='form')
      p 
        | Entrez le nom de la watchList :
        input(name='id_utilisateur', value='', type='text')  
        br
        | Entrez le nom du film à modifier : 
        input(name='titlefilm', value='', type='text') 
        br
        | Veuillez sélectionner le nouveau status : 
        select(name='status')
          option(value="A voir") A voir
          option(value="En cours") En cours
          option(value="Terminé") Terminé
          option(value="Abandonné") Abandonné
      input(value='Submit', type='submit')

    h3 Pour trouver un film dans la Base de données :
    form(action='/movies/findItemRegistre', method='GET', role='form')
      p 
        | Entrez le nom du film :
        input(name='Title', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour lister toutes les watchLists d'un utilisateur :
    form(action='/movies/findWatch', method='GET', role='form')
      p 
        | Entrez le nom de l'utilisateur :
        input(name='name', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour lister tout les films d'un utilisateur :
    form(action='/movies/findFilm', method='GET', role='form')
      p 
        | Entrez le nom d'une watchList :
        input(name='id_utilisateur', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour supprimer un film d'une watchList :
    form(action='/movies/deleteItem', method='POST', role='form')
      p 
        | Entrez le nom d'une watchList :
        input(name='id_utilisateur', value='', type='text')     
        br 
        | Entrez le nom d'un film :
        input(name='titre', value='', type='text')         
      input(value='Submit', type='submit')

    h3 Pour supprimer une watchList :
    form(action='/movies/deleteWatchList', method='POST', role='form')
      p 
        | Entrez le nom d'une watchList :
        input(name='id_utilisateur', value='', type='text')           
      input(value='Submit', type='submit')

    h3 Pour ajouter une watchList en favori :
    form(action='/movies/addFavori', method='POST', role='form')
      p 
        | Entrez le nom d'une watchList :
        input(name='id_utilisateur', value='', type='text')           
      input(value='Submit', type='submit')

    h3 Pour partager une WatchList avec un autre utilisateur :
    form(action='/movies/partageWatch', method='POST', role='form')
      p 
        | Entrez le nom de la watchList :
        input(name='id_utilisateur', value='', type='text')  
        br
        | Entrez le nom de la personne qui va avoir cette watchList : 
        input(name='name', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour commenter un film ou une watchList :
    form(action='/movies/addDescription', method='POST', role='form')
      p 
        | Entrez le nom de la watchList :
        input(name='id_utilisateur', value='', type='text')  
        br
        | Entrez le nom du film dans la watchList (Laissez vide si on commente la watchList) : 
        input(name='Title', value='', type='text')       
        br
        | Entrez le contenu de la description : 
        input(name='content', value='', type='text')          
      input(value='Submit', type='submit')

    h2
      | Pour retourner au Menu principal : 
      a(href='http://localhost:3000') Menu

    






