html
  head
    title= title
  body
  h1= message
    h3 Pour ajouter un user dans la Base de données :
    form(action='/users/create', method='POST', role='form')
      p 
        | Entrez le nom de l'user :
        input(name='name', value='', type='text')  
        br
        | Entrez l'âge de l'user : 
        input(name='age', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour ajouter une watchList à un utilisateur :
    form(action='/users/createWatchlist', method='POST', role='form')
      p 
        | Entrez le nom de l'user ayant une nouvelle watchList :
        input(name='name', value='', type='text')              
      input(value='Submit', type='submit')

    h3 Pour afficher l'ensemble des utilisateurs :
    a(href='http://localhost:3000/users/findUser') Afficher l'ensemble des utilisateurs

    h3 Pour modifier les informations d'un utilisateur :
    form(action='/users/updateUser', method='POST', role='form')
      p 
        | Entrez le nom de l'user qui va subir les modifications :
        input(name='nomAncien', value='', type='text')       
        br
        | Entrez le nouveau nom de l'utilisateur :
        input(name='nomNouveau', value='', type='text')
        br
        | Entrez le nouvel age de l'utilisateur :
        input(name='yearNouveau', value='', type='text')       
      input(value='Submit', type='submit')

    h2
      | Pour retourner au Menu principal : 
      a(href='http://localhost:3000') Menu
